# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sfdx_projects\forcedotcom-issue-638-repro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
